body{
  height: 100vh;
  background-color: #273243;
  background:linear-gradient(#07fb8d 50%,#33456e 50%);
  display: flex;
  justify-content:center;
  align-items: center;
}
.calculator{
  background-color: #273243;
  height: 420px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  transform: scale(1.1);
  overflow: hidden; 
}
.screen-container{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#display{
  width: 89%;
  height: 80px;
  border: none;
  border-radius: 4px;
  background-color: #33456e;
  text-align: end;
  font-size: 50px;
  color: white;
  font-weight: 530;
  outline: none;
}
#display:hover{
  border: 2.5px solid white;
}
.button-container{
  width: 93%;
  background-color: #273243;
  height: 68%;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.numbers{
height: 50px;
width: 70px;
font-size: x-large;
font-weight: 530;
border: none;
border-radius: 5px;
background-color: #344a7f;
color:white;
transition: all 0.2s ease;
}
.icon{
  height: 50px;
width: 70px;
padding-top: 2px;
font-size: 25px;
font-weight: 540;
border: none;
border-radius: 5px;
background-color: #07fb8d;
color: #273243;
transition: all 0.2s ease;
}
.equal{
height: 50px;
width: 70px;
font-size: 45px;
font-weight: 540;
border: none;
border-radius: 5px;
background-color: crimson;
color: #273243;
display: flex;
align-items: center;
justify-content: center;
transition: all 0.2s ease;
}
button:active{
  transform: scale(0.97);
  background-color: white;
  color: #273243;
}
@media (max-width: 600px) {
  .calculator {
    transform: scale(1);
    margin-bottom: 70px;
  }
  .numbers{
    transform: scale(1);
  }
  .icon{
    transform: scale(1);
  }
  .equal{
    transform: scale(1);
  }
  button:active{
    transform: scale(0.97);
    background-color: white;
    color: #273243;
  }
}
